
workspace/\.metadata/

workspace/\.recommenders/

workspace/\.DS_Store

workspace/p1/\.DS_Store

workspace/p1/*.mff

*.class

*.zip

\.DS_Store

workspace/p1/HONOR

*.mff

workspace/p2/\.classpath

workspace/p2/\.project

workspace/p1/\.classpath

workspace/p1/\.project
workspace/p2/HONOR

midterm - Google Docs\.pdf

Text_book\.pdf

workspace/p4/\.project

workspace/p4/\.classpath
